@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer utilities {
  .fix-kerning {
    font-kerning: none;
    -webkit-font-kerning: none;
    font-feature-settings: 'kern' off;
    -webkit-font-feature-settings: 'kern' off;
  }
}
